body{
	overflow-x: hidden;
	overflow-y: scroll;
}

/*FOR NAVIGATION BAR*/

.topnav {
	display: inline-block;
	background-color: white;
	margin-top: -10px;
	margin-bottom:20%;
	margin-left: -1%;
	width: 150%;
	font-family: Georgia,Times,Times New Roman,serif; 
	position: fixed;
	z-index: 2000;
	}
	
.topnav img {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5%;
	position: sticky;
	}
	
.topnav a {
	float: left;
	color: #2C4C3B;
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
	font-size: 17px;
	margin-top: 30px;
	margin-left: 3%;
	position: sticky;
	}
			
.topnav a:hover {
	background-color: #ddd;
	border-radius: 25px;
	font-weight: 600;
	color: #2C4C3B;
	}
				
.topnav a.active {
	color: #2C4C3B;
	font-style: italic;
	font-weight: 600;
	}

/*TITLE*/

.title{
	display: inline-block;
	margin-top: 4%;
	border: 5px none;
  	width: 100%;
  	padding: 10px;
}

.title h1{
	font-size: 620%; 
	text-align: center;
	color:#2C4C3B;
	font-family: Arial;
}

.title p{
	font-size: 150%; 
	text-align: center; 
	margin: -80px; 
	margin-bottom: 50px;
	color:#2C4C3B;
	font-family: Arial;
}

/*HOME PAGE*/

.boxed {
	display:block;
	border: 3px solid #2C4C3B;
	width: 1196px;
	margin: 0 auto;
	}

.boxed img {
	margin-bottom: -4px;
}

.boxed1 {
	display:block;
	border:3px;
	margin-top:1px;
	margin-left:9%;
	margin-right: 11%;
	}

.textbox {
	margin-left: 2%;
	margin-top: -3%;
	}
		
.textbox h1{
	font-size: 200%;
	margin-left: 9%;
	margin-bottom: -10%;
	font-weight: bold;
	margin-top: 1%;
	}

.textbox p{
	font-family: 'arial';
	margin-left: 9%;
	font-size: 250%;
	color: #2C4C3B;
	margin-bottom: 8px;
	}

.text h1{
	font-size:200%;
	margin-top:1%;
	margin-left:9%;
	margin-bottom:-10%;
	font-weight:bold;
}

.text p{
	font-family: 'arial';
	font-size: 110%;
	margin-bottom: 1%;
	margin-left:9%;
	margin-top:10%;
}

.indexpic{
	width: 103%;
	margin: -1%;
	margin-top: 1%;
	}

.indexpictext {
	width: 30%;
	margin: 6%;
	margin-top: 10%;
	color: white;
	font-size: 300%;
	font-weight: bold;
	position: absolute;
}

.indexpictext img{
	margin-top: 10%;
	width: 40px;
}

/*NEWS WEBPAGE*/

.newsboxed1 {
	display:block;
	border: 3px solid #2C4C3B;
	width: 400px;
	margin-left: 9%;
	}

.newsboxed1 img {
	margin-bottom: -4px;
	width: 400px;
}
/*EDITORIALS WEBPAGE*/

.editorials{
	margin-left: 3%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}
.imgsize{
	aspect-ratio: 1 / 1;
	width: 23%;
	object-fit: cover;
	filter:brightness(55%);
	color: white;
	margin-left: 1%;
}
.editorials p{
	font-family: Georgia,Times,Times New Roman,serif; 
	font-size: 220%;
	margin-top:-17%;
	color:white;
	position:absolute;
	width: 20%;
}
.topedit{
	font-size: 250%;
	color: #2C4C3B;
	font-family: 'arial';
	margin-bottom: 8px;
	margin-left: 60px;
}
.pt1{
	margin-left: 2%;
}
.pt2{
	margin-left: 26%;
}
.pt3{
	margin-left: 49%;
}
.pt4{
	margin-left: 73%;
}

/*ACTUAL EDITORIALS*/

.edittitle{
	display: inline-block;
	margin-top: 6%;
	border: 5px none;
  	width: 100%;
  	padding: 10px;
	z-index: 1;
}
.edittitle h1{
	font-size: 250%; 
	text-align: center;
	color:#2C4C3B;
	font-family: Arial;
}
.edittitle p{
	font-size: 100%; 
	text-align: center; 
	margin: -1%; 
	font-style: italic;
	color:#2C4C3B;
	font-family: Arial;
}
.illust{
	text-align:center;
	font-size: 100%;
}
.editimg{
	aspect-ratio: 2048 / 1431;
	width: 40%;
	color: white;
	display:block;
	margin-top: 2%;
	margin-left:auto;
	margin-right: auto;
	border-radius: 10px;

}
.editimg2{
	aspect-ratio: 1 / 1;
	width: 40%;
	color: white;
	display:block;
	margin-top: 2%;
	margin-left:auto;
	margin-right: auto;
	border-radius: 10px;
}
.edittext{
	font-size: 16pt;
	margin-left: 9%;
	margin-right:9%;
	color:black;
	line-height: 150%;
	text-align:justify;
	text-indent: 50px;
	font-family: 'Helvetica', 'Arial', sans-serif;
}
.backbutton{
	margin-top: 140px;
	margin-left: 1%;
	position: absolute;
	z-index:2;
}
.backbutton a{
	color: #2C4C3B;
	margin-left: 220%;
}

/*ABOUT PAGE*/

.abouttitle{
	display: inline-block;
	margin-top: 4%;
	border: 5px none;
  	width: 100%;
  	padding: 10px;
}

.abouttitle h1{
	font-size: 620%; 
	text-align: center;
	color:white;
	font-family: Arial;
}

.abouttitle p{
	font-size: 150%; 
	text-align: center; 
	margin: -80px; 
	margin-bottom: 50px;
	color: white;
	font-family: Arial;
}

.aboutbg img{
	width: 102%;
	margin-top: -45%;
	margin-left: -1%;
	float: left;
}

.aboutabout p{
	width: 80%;
	margin: auto;
	text-align: center;
	display: block;
	margin-top: 22%;
	margin-bottom: -2%;
	color:white;
	font-family: Arial;
	font-size: 158%;
	font-weight: 500;
}

.editorialboard {
	margin-top: 15%;
	margin-bottom: 15%;
	color:#2C4C3B;
}
.editorialboard h1{
	text-align: center;
	font-family: 'Allura';
	font-size: 800%;
}

.editorialboard p{
	text-align: center;
	font-family: Arial;
	font-size: 200%;
	margin-top: -8%;	
}

.editorialboardmembers{
	color:white;
	font-size: 200%;
	text-align: center;
	margin-top: 3%;
	margin-bottom: -39%;
	margin-left: 40%;
	position: absolute;
	width: 50%;
}

.editorialboardmembers h2{
	font-family: Arial;
	margin-bottom: -2%;
}

.editorialboardmembers h3{
	font-size: 90%;
}

.members {
	margin-top: 185px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.members1 {
	margin-top: 185px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color:#2C4C3B;	
}

.ebpics{
	display: block;
	margin-left: -6.3%;
	width: 100%;
	margin: -1%;
	float: left;
}

/*LOADING SCREEN*/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
	opacity: 0;
	visibility: hidden;
  }
  
  .loader::after {
	content: "";
	width: 75px;
	height: 75px;
	border: 15px solid #dddddd;
	border-top-color: #2C4C3B;
	border-radius: 50%;
	animation: loading 0.75s ease infinite;
  }
  
  /*NEWS*/
  .news2 h1{
	font-size:200%;
	margin-top:1%;
	margin-left:9%;
	margin-bottom:-10%;
	font-weight:bold;
  }
  @keyframes loading {
	from {
	  transform: rotate(0turn);
	}
	to {
	  transform: rotate(1turn);
	}
  }  
.gall{
	margin-left:2%;
}
@media screen (max-width:1000px) {

}
