.topnav {
	overflow: hidden;
	margin-left: 9%;
	margin-top: 30px;
	margin-bottom: -10px;
	width: 100%;
	font-family: Times New Roman;
	}
	
.topnav img {
	float: left;
	}
	
.topnav a {
	float: left;
	color: #2C4C3B;
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
	font-size: 17px;
	margin-top: 1%;
	margin-left: 4.5%;
		}
			
.topnav a:hover {
	background-color: #ddd;
	border-radius: 25px;
	font-weight: 600;
	color: #2C4C3B;
	}
				
.topnav a.active {
	color: #2C4C3B;
	font-style: italic;
	font-weight: 600;
	}
		 				
.boxed {
	border: 3px solid green;
	margin-top: 10%;
	margin-left: 9%;
	margin-right: 9%;
	}
			
.box {
	margin:1%
	}

.textbox {
	margin-top: 0;
	}
		
.textbox h1{
	font-size: 200%;
	margin-top: 1%;
	margin-left: 9%;
	margin-bottom: -10%;
	font-weight: bold;
}

.textbox p{
	font-size: 110%;
	font-family: Times New Roman;
	margin-top: 10%;
	margin-left: 9%;
	}
